﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@model KocSistem.CommunityEdition.Mvc.Models.Account.ForgotPasswordViewModel
@inject IKsStringLocalizer<AccountController> _localizer

@{
    Layout = "~/src/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = _localizer["ForgotPassword"];
}

@section scripts
{
<script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/account/forgotpassword@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

<form class="form w-100" novalidate="novalidate" id="forgotPasswordForm" asp-controller="Account" asp-action="ForgotPassword" method="POST">
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">@_localizer["ForgotPassword"]?</h1>
        <div class="text-gray-400 fw-bold fs-4">@_localizer["EnterYourEmailToResetYourPassword"].</div>
    </div>
    <div class="fv-row mb-10">
        <label class="form-label fw-bolder text-gray-900 fs-6">@_localizer["Email"]</label>
        <input class="form-control form-control-solid" id="Email" type="text" asp-for="Email" autocomplete="off">
    </div>
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="submit" id="forgotPasswordButton" class="btn btn-lg btn-primary fw-bolder me-4">
            <span class="indicator-label">@_localizer["Submit"]</span>
            <span class="indicator-progress">
                @_localizer["PleaseWait"]...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a href="/accounts/login" class="btn btn-lg btn-light-primary fw-bolder">Cancel</a>
    </div>
</form>
