﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@inject IKsStringLocalizer<AccountController> _localizer

@{
    Layout = "~/src/Views/Shared/_NoticeLayout.cshtml";
    ViewData["Title"] = _localizer["PasswordEmailSent"];
}


<h1 class="fw-bolder fs-2qx text-gray-800 mb-7">@_localizer["EmailSent"]</h1>
<div class="fw-bold fs-3 text-muted mb-15">
    @_localizer["EmailSentSuccessfully"].
    <br />@_localizer["CheckYourEmailBox"].
</div>
<div class="text-gray-700 fw-bold fs-4 pt-7">
    @_localizer["DidntReceiveEmail"] ?
    <a href="/accounts/forgot-password" class="text-primary fw-bolder">@_localizer["TryAgain"]</a>
</div>
