﻿@using KocSistem.OneFrame.I18N
@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@inject IKsStringLocalizer<AccountController> _localizer
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@model KocSistem.CommunityEdition.Mvc.Models.Account.PasswordExpiredViewModel

@{
    ViewData["Title"] = _localizer["PasswordExpired"];
    Layout = "~/src/Views/Shared/_LoginLayout.cshtml";
}

@section scripts
{
<script src="~/js/account/passwordexpired@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

<form class="form w-100" novalidate="novalidate" id="passwordExpiredForm" asp-controller="Account" asp-action="PasswordExpiredChange" method="POST">
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">@_localizer["PasswordExpired"]</h1>
        <div class="text-gray-400 fw-bold fs-4">@_localizer["CreateNewPassword"].</div>
    </div>
    <div class="fv-row mb-10">
        <label class="form-label fw-bolder text-dark fs-6">@_localizer["Email"]</label>
        <input class="form-control form-control-solid" type="text" value="@Model.UserName" autocomplete="off" disabled>
        <input type="hidden" asp-for="UserName" value="@Model.UserName" />
    </div>
        <div class="fv-row mb-10">
        <label class="form-label fw-bolder text-dark fs-6 required">@_localizer["CurrentPassword"]</label>
        <input class="form-control form-control-solid" type="password" asp-for="CurrentPassword" autocomplete="off">
    </div>
    <div class="mb-10 fv-row" data-kt-password-meter="true">
        <div class="mb-1">
            <label class="form-label fw-bolder text-dark fs-6 required">@_localizer["NewPassword"]</label>
            <div class="position-relative mb-3">
                <input class="form-control form-control-lg form-control-solid" asp-for="NewPassword" type="password" autocomplete="off">
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
        </div>
    </div>
        <div class="fv-row mb-10">
        <label class="form-label fw-bolder text-dark fs-6 required">@_localizer["NewPasswordConfirmation"]</label>
        <input class="form-control form-control-solid" type="password" asp-for="NewPasswordConfirmation" name="newPasswordConfirmation" autocomplete="off">
    </div>
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="submit" id="changePasswordButton" class="btn btn-lg btn-primary fw-bolder me-4">
            <span class="indicator-label">@_localizer["Submit"]</span>
            <span class="indicator-progress">
                @_localizer["PleaseWait"]...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a href="/accounts/login" class="btn btn-lg btn-light-primary fw-bolder">Cancel</a>
    </div>
</form>
