﻿@using KocSistem.OneFrame.I18N
@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@inject IKsStringLocalizer<AccountController> _localizer
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@model KocSistem.CommunityEdition.Mvc.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/src/Views/Shared/_LoginLayout.cshtml";
}

@section scripts
{
<script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/account/resetpassword@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

<form class="form w-100" novalidate="novalidate" id="resetPasswordForm" asp-controller="Account" asp-action="ResetPassword" method="POST">
    <input class="form-control" asp-for="Token" type="hidden" name="token" autocomplete="off" value="@Model.Token">
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">@_localizer["SetupNewPassword"]</h1>
        <div class="text-gray-400 fw-bold fs-4">
            @_localizer["AlreadyHaveResetYourPassword"] ?
            <a href="/accounts/login" class="link-primary fw-bolder">@_localizer["SignInHere"]</a>
        </div>
    </div>
    <div class="fv-row mb-10">
        <label class="form-label fw-bolder text-dark fs-6">@_localizer["Email"]</label>
        <input class="form-control form-control-lg form-control-solid" asp-for="Email" type="text" autocomplete="off" value="@Model.Email" readonly>
    </div>
    <div class="fv-row mb-10" data-kt-password-meter="true">
        <div class="mb-1">
            <label class="form-label fw-bolder text-dark fs-6 required">@_localizer["Password"]</label>
            <div class="position-relative mb-3">
                <input class="form-control form-control-lg form-control-solid" asp-for="Password" type="password" autocomplete="off" />
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
        </div>
    </div>
    <div class="fv-row mb-10">
        <label class="form-label fw-bolder text-dark fs-6 required">@_localizer["PasswordConfirm"]</label>
        <input class="form-control form-control-lg form-control-solid" asp-for="ConfirmPassword" type="password" autocomplete="off" />
    </div>
    <div class="text-center">
        <button type="button" id="resetButton" class="btn btn-lg btn-primary fw-bolder">
            <span class="indicator-label">@Model.ActionButtonLabel</span>
            <span class="indicator-progress">
                @_localizer["PleaseWait"]...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
</form>