﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using System.Globalization
@using KocSistem.CommunityEdition.Mvc.Helpers
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@inject IHttpContextAccessor _httpContextaccessor
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IKsStringLocalizer<HomeController> _localizer
@inject IOptions<RequestLocalizationOptions> _locOptions
@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? string.Empty : $".{theme}";

    var cultureItems = _locOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.Parent.NativeName, Selected = CultureInfo.DefaultThreadCurrentCulture.ToString() == c.Name }).ToList().OrderBy(o => o.Text);
}
<!DOCTYPE html>
<html lang="@(CultureInfo.DefaultThreadCurrentCulture.TwoLetterISOLanguageName)" direction="@(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr")" style="direction: @(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr");">
<head>
    <title>OneFrame | @ViewData["Title"]</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/metronic/assets/plugins/global/plugins@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/css/style@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="@(theme != Themes.Dark ? string.Empty : "dark-mode ")auth-bg">
    <div class="d-flex flex-column flex-root">
        @RenderBody()
    </div>
    <script>var hostUrl = "~/metronic/assets/";</script>
    <script src="~/metronic/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/metronic/assets/js/scripts.bundle.js"></script>
    <script src="~/js/resource@(_htmlMinSuffixHelper.MinSuffix).js"></script>
</body>
</html>