﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using System.Globalization
@using KocSistem.CommunityEdition.Mvc.Extensions
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.CommunityEdition.Mvc.Toast
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@inject IHttpContextAccessor _httpContextaccessor
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IKsStringLocalizer<HomeController> _localizer
@inject IOptions<RequestLocalizationOptions> _locOptions
@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? string.Empty : $".{theme}";

    var cultureItems = _locOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.Parent.NativeName, Selected = CultureInfo.DefaultThreadCurrentCulture.ToString() == c.Name }).ToList().OrderBy(o => o.Text);
}
<!DOCTYPE html>
<html lang="@(CultureInfo.DefaultThreadCurrentCulture.TwoLetterISOLanguageName)" direction="@(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr")" style="direction: @(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr");">
<head>
    <meta charset="utf-8" />
    <title>OneFrame | @ViewData["Title"]</title>
    <meta name="description" content="@_localizer["NowYouCanStartBuildingYourAwesomeWebApplicationHappyCoding"]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/img/favicon-32x32.png" />
    <link rel="stylesheet" href="~/fonts/Poppins/Poppins.css" />
    @if (_htmlRtlSuffixHelper.IsRightToLeft)
    {
        <link href="~/metronic/assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
    }
    <link href="~/metronic/assets/plugins/global/plugins@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/css/style@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
    <script>
        var currentCulture = "@(CultureInfo.DefaultThreadCurrentCulture)"

    </script>
    <script src="~/metronic/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/metronic/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/js/resource@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/site@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/common@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    @RenderSection("header", false)
</head>
<body id="kt_body" class="@(theme != Themes.Dark ? string.Empty : "dark-mode ")bg-body">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative" style="background-color: @(theme != Themes.Dark ? "#e6e6e6" : "#1b1b28")">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <a href="/" class="py-9 mb-5">
                            <img alt="OneFrame Logo" src="~/img/oneframe@(themeName).svg" class="w-75" />
                        </a>
                        <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: @(theme != Themes.Dark ? "#3a2afd" : "#ffffff");">@_localizer["ApplicationDevelopmentPlatform"]</h1>
                        <p class="fw-bold fs-2" style="color: @(theme != Themes.Dark ? "#3a2afd" : "#ffffff");">@_localizer["NowYouCanStartBuildingYourAwesomeWebApplication"]</p>
                    </div>
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../metronic/assets/media/illustrations/sketchy-1/11@(themeName).png"></div>
                </div>
            </div>

            <div class="d-flex flex-column flex-lg-row-fluid py-10">
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                        @RenderBody()
                    </div>
                </div>
                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    <div class="d-flex flex-center fw-bold fs-6">
                        <div class="row fv-row fv-plugins-icon-container">
                            <div class="col-xl-4 mt-3">
                                <label class="form-check form-switch form-check-custom form-check-solid" for="kt_user_menu_dark_mode_toggle">
                                    <input class="form-check-input w-30px h-20px" type="checkbox" @(theme == Themes.Dark ? "checked" : string.Empty) name="mode" id="kt_user_menu_dark_mode_toggle">
                                    <span class="form-check-label text-gray-600 fs-7"><i class="fonticon-@(theme == Themes.Dark ? "moon" : "sun") fs-2"></i></span>
                                </label>
                            </div>
                            <div class="col-xl-8">
                                @Html.DropDownList("languageSelectList", cultureItems, new { @class = "form-select" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    <div class="d-flex flex-center fw-bold fs-6">
                        <a rel="noopener" href="https://oneframe.kocsistem.com.tr/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["AboutUs"]</a>
                        <a rel="noopener" href="https://www.kocsistem.com.tr/iletisim/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["Contact"]</a>
                    </div>
                </div>
            </div>
        </div>

        <partial name="_CookiePolicyPartial.cshtml"/>
    </div>

    <script src="~/js/shared/selectlanguagepartial.js"></script>
    <script>
        $("#kt_user_menu_dark_mode_toggle").on('change', function () {
            var theme = "@(Themes.Light)";
            if (this.checked) {
                theme = "@(Themes.Dark)";
            }
            var url = "/set-theme?themeValue=" + theme + "&returnUrl=@(Context.Request.Path)";
            window.location = url;
        });
        var rtl = @(_htmlRtlSuffixHelper.IsRightToLeft.ToString().ToLower());
        if (rtl) {
            $("*").find('[data-kt-menu-placement*="bottom-start"]').each(function () {
                $(this).attr('data-kt-menu-placement', 'bottom-end');
            });
            $("*").find('[data-kt-menu-placement*="right-start"]').each(function () {
                $(this).attr('data-kt-menu-placement', 'left-end');
            });
        }
    </script>
    @{
        var message = TempData.Get<ToastModel>("Notifications");
        if (message != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    showNotification('@message.Message', '@message.ToastType.ToString()');
                });
            </script>
        }
    }
    @RenderSection("scripts", false)
</body>
</html>
