﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@model KocSistem.CommunityEdition.Mvc.Models.Profile.ConfirmationCodeViewModel
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper

@inject IKsStringLocalizer<ProfileController> _localizer
@{
	ViewData["Title"] = _localizer["PhoneNumberConfirmation"];
}


<form class="kt-form" novalidate="novalidate" id="ConfirmPhoneNumberForm" asp-controller="Profile" asp-action="ConfirmPhoneNumber" method="POST">
	<div class="d-flex flex-column flex-lg-row-fluid py-10 card">
		<div class="d-flex flex-center flex-column flex-column-fluid">
			<div class="w-lg-500px p-10 p-lg-15 mx-auto">
				<div class="row fv-row mb-7">
					<div class="col-md-6">
						<label class="form-label fw-bolder text-dark fs-6">@_localizer["PhoneNumber"]</label>
						<input class="form-control form-control-lg form-control-solid" type="text" asp-for="PhoneNumber" name="PhoneNumber" autocomplete="off">
					</div>
					<div class="col-md-6">
						<label class="form-label fw-bolder text-dark fs-6">@_localizer["ValidationCode"]</label>
						<input class="form-control form-control-lg form-control-solid" type="text" asp-for="Code" name="Code" autocomplete="off">
						<div id="divTimer">
							<span>@_localizer["RemainTime"]:</span>
							<strong id="kt_remainTime" class="mt-3 ml-3"></strong>
							<strong class="mt-2">@_localizer["Second"]</strong>
						</div>
					</div>
				</div>
				<div class="row fv-row justify-content-end">
					<div class="col-md-8 float-right">
						<button id="btnTakeNewCode" style="display:none" type="button" class="btn btn-md btn-primary" data-spinning-button>@_localizer["TakeNewCode"]</button>
						<button type="button" id="kt_confirmation_submit" class="btn btn-md btn-success">
							<span class="indicator-label">@_localizer["Validate"]</span>
							<span class="indicator-progress">
								@_localizer["PleaseWait"]...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input asp-for="ExpiredDate" hidden />
	<input asp-for="Id" hidden />
</form>

<script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/profile/confirmationcodeexpire@(_htmlMinSuffixHelper.MinSuffix).js"></script>